services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: django-backend-dev
    volumes:
      - ./backend/code:/backend/code
    env_file:
      - ./backend/.env.dev
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    image: postgres:17.5
    env_file:
      - ./backend/.env.dev
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: